.video-about-kraken {
  margin-bottom: 250px;
  @media (max-width: 1200px) {
    margin-bottom: 10%;
  }
  h2 {
    margin-bottom: 10px;
    max-width: 900px;
  }

  .lead {
    max-width: 900px;
    margin-bottom: 50px;
  }
}

.video-cover {
  width: 100%;
  height: auto;
  min-height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/video.png") no-repeat;
  background-size: cover;
  @media (max-width: 1200px) {
    min-height: 500px;
  }
  @media (max-width: 992px) {
    min-height: 400px;
  }
  @media (max-width: 576px) {
    min-height: 300px;
  }
}

.video-frame {
  width: 100%;
  height: auto;
  min-height: 930px;
  border: none;
}
