.video-player {
  width: 100%;
  object-fit: contain;
  max-height: 920px;

}

.video-about-kraken {
  margin-bottom: 250px;
  position: relative;

  @media (max-width: 1200px) {
    margin-bottom: 10%;
  }
  h2 {
    margin-bottom: 10px;
    max-width: 900px;
  }

  .lead {
    max-width: 900px;
    margin-bottom: 50px;
  }
}


.video-btn {
  position: absolute;
  width: 86px;
  height: 86px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,50%);
  @media (max-width: 992px) {
    top: 55%;
  }
  @media (max-width: 768px) {
    top: 65%;

  }

  @media (max-width: 576px) {
    top: unset;
    bottom: 21vw;
    width: 60px;
    height: 60px;
  }
}
