.advantages {
  padding-top: 30px;

  h2 {
    margin-top: 147px;
    @media (max-width: 1200px) {
      margin-top: 5%;
    }
  }

  h3 {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 5px;
  }

}

.advantages__title {
  margin-bottom: 50px;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 306px;
  @media (max-width: 1200px) {
    margin-bottom: 20%;
  }
  @media (max-width: 992px) {
    flex-wrap: wrap;
    margin-bottom: 5%;
  }
}


.advantage-card {
  text-align: center;
  min-height: 342px;
  width: 32.5%;
  padding: 40px 40px 60px 40px;
  background-color: #111111;
  position: relative;
  @media (max-width: 1200px) {
    min-height: auto;
    width: 31%;
    padding: 30px 20px;
  }
  @media (max-width: 992px) {
    width: 100%;
    margin-bottom: 20px;
    margin-bottom: 10%;
  }
}

.advantage-card--green {
  background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(0, 255, 199, 0.14) 100%);
}

.advantage-card__img {
  width: 85px;
  height: 85px;
  margin-bottom: 20px;
  @media (max-width: 992px) {
    width: 50px;
    height: 50px;
  }
}

.advantage-card__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 5px;
  @media (max-width: 992px) {
    font-size: 18px;
  }

}

.advantage-card--first:after {
  content: '';
  position: absolute;
  bottom: -114px;
  right: -40px;
  width: 176px;
  height: 222px;
  background: url("../img/advantage-imgs/tentacle.png") no-repeat;
  @media (max-width: 992px) {
    display: none;
  }
}

.advantage-card--last:after {
  content: '';
  position: absolute;
  left: -93px;
  top: -90px;
  width: 213px;
  height: 474px;
  background: url("../img/advantage-imgs/tentacle-2.png") no-repeat;
  @media (max-width: 992px) {
    display: none;
  }
}
