.reviews {

  .container {
    position: relative;

    &:before {
      content: '';
      width: 51px;
      height: 39px;
      position: absolute;
      top: 26px;
      right: 40px;
      background: url("../img/reviews-icon.svg") no-repeat;
      @media (max-width: 576px) {
        display: none;
      }
    }
  }


  h2 {
    margin-bottom: 10px;
  }

  .lead {
    margin-bottom: 50px;
    max-width: 37%;
    @media (max-width: 992px) {
      max-width: 80%;
    }
    @media (max-width: 576px) {
      max-width: 100%;
    }


  }

  .buyer-name {
    margin-top: auto;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: rgba(10, 215, 141, 0.8);

  }

}

.reviews-list {
  display: flex;
  margin-bottom: 200px;
  @media (max-width: 1200px) {
    margin-bottom: 10%;
  }
  @media (max-width: 992px) {
    flex-wrap: wrap;
  }
}

.reviews-item {
  display: flex;
  flex-direction: column;
  min-height: 467px;
  padding: 51px 78px 40px 40px;
  width: 50%;
  margin-right: 20px;
  background-color: #111111;
  position: relative;
  @media (max-width: 992px) {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }
  @media (max-width: 576px) {
    padding: 20px 10px;
  }

  &:last-child {
    margin-right: 0;
  }

  &:after {
    content: '';
    width: 51px;
    height: 39px;
    position: absolute;
    top: 40px;
    right: 28px;
    background: url("../img/quotes.svg") no-repeat;

  }
}

.reviews-item__header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  @media (max-width: 1200px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.reviews__icon {

  border-radius: 50%;
  background: rgba(10, 215, 141);
  width: 70px;
  height: 70px;
  margin-right: 20px;
  background: url("../img/reviews-imgs/ava2.png");
  @media (max-width: 1200px) {
    margin-bottom: 10px;
  }
}

.reviews__icon--o {
  background: url("../img/reviews-imgs/ava1.png");
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;

}

.reviews-item__header-content {
  .review-short {
    font-size: 18px;
    color: #fff;
    margin-top: 5px;
  }
}

.review-text {
  font-family: 'Mulish', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;

  color: rgba(255, 255, 255, 0.6);
}
